.wrapper{
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card1 {
  text-align: center;
  border: 2px solid slategray;
  display: flex;
  border-radius: 0.2rem;
  background-color: grey;
  padding: auto;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.card1:hover {
  background-color: burlywood;
}

.information {
  text-align: left;
  justify-content: center;
  padding: auto;
  margin-left: 5px;
  font-size: small;
}

.card1 + .card1 {
 margin-top: 5px;
}

.cardImage {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.button {
  border-radius: 10px;
  border: none;
  background-color: whitesmoke;
  padding: 1rem;
  margin-bottom: 0.5rem;
}